.but1 {
    background-color: black;
    color: white;

}

.but2 {
    background-color: yellow;
    color: black
}

.but1 , .but2 {
    font-family: Helvetica, 'Times New Roman', sans-serif; 
    font-size: 28px;
}